
.icon-mail:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-bullhorn:before { content: '\e802'; } /* '' */
.icon-th:before { content: '\e803'; } /* '' */
.icon-thumbs-up:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */